﻿﻿@{
    ViewData["Title"] = "About Us";
}
<div>
    <h1> @ViewData["Title"]</h1>
</div>
<div>
   <br />Boxetheus is dedicated to providing high-quality boxes for various packaging requirements.
   <br />Whether you are a business shipping products or an individual relocating, we have the perfect solution for you.
   <br />
   <br /> <b>Our Background</b>
   <br>Boxetheus was established with a clear objective: to offer top-notch boxes that are accessible and cost-effective for everyone.
   <br />Recognizing the need for durable and affordable boxes in the market, we embarked on a mission to bridge that gap.
   <br /> 
   <br><b>Quality Assurance</b>
     <br />We prioritize reliable packaging, ensuring that all our boxes adhere to the highest standards of quality and durability.
    <br/>Our range includes small shipping boxes, large moving boxes, and everything in between, catering to a wide array of sizes and styles.
    <br />
    <br /> <b>Contact Us</b>
     <br>For any inquiries or assistance with your order, feel free to get in touch with us. Our customer service team can be reached via email, phone, or live chat, and we are here to assist you.
    <br>Thank you for selecting Boxetheus for your packaging needs. We are excited to be of service to you!
</div>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/img/bckg.jpg');
        background-size: cover;
        height: 100vh; /* Ensure the background covers the full height of the viewport */
    }

    .text-center {
        text-align: center;
        padding: 50px; /* Adjust as needed */
        color: midnightblue; /* Optional: set text color to be visible against the background */
    }
</style>